<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="pagina1.html">Página 1</a></li>
            <li><a href="pagina2.html">Página 2</a></li>
            <li><a href="pagina3.html">Página 3</a></li>
        </ul>
    </nav>
    <h1>Bienvenido a la Página Principal</h1>
    <div class="container">
        <div class="square" id="main-info">
            <h2>Explicación General</h2>
            <p>Esta es una explicación general sobre el contenido de esta página web.</p>
        </div>
        <div class="square" id="scrap1-info">
            <h2>Explicación Scrap 1</h2>
            <p>Detalles sobre el primer scrap.</p>
        </div>
        <div class="square" id="scrap2-info">
            <h2>Explicación Scrap 2</h2>
            <p>Detalles sobre el segundo scrap.</p>
        </div>
    </div>
</body>
</html>
